<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Amos</key>
	<array>
		<string>Adrian</string>
		<string>d613300e-3e3d-49cc-82b8-eed29bc3677b</string>
		<string>Adrian-Amos</string>
	</array>
	<key>Anderson</key>
	<array>
		<string>Jonathan</string>
		<string>3a0366d4-6739-4efe-9733-6909fc78ce99</string>
		<string>Jonathn-Anderson</string>
	</array>
	<key>Barrow</key>
	<array>
		<string>Lamin</string>
		<string>785b8d3c-bcda-494d-aff4-5cf4943b2236</string>
		<string>Lamin-Barrow</string>
	</array>
	<key>Bausby</key>
	<array>
		<string>De&apos;Vante</string>
		<string>fc37d32a-eb7a-4994-aa7d-cf2b4ad83bb9</string>
		<string>De&apos;Vante-Bausby</string>
	</array>
	<key>Bennett</key>
	<array>
		<string>Martellus</string>
		<string>cd2ec711-6cd9-48a1-9ec7-2d9152358c51</string>
		<string>Martellus-Bennett</string>
	</array>
</dict>
</plist>
