<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anisimov</key>
	<array>
		<string>Artem</string>
		<string>8473573</string>
	</array>
	<key>Desjardins</key>
	<array>
		<string>Andrew</string>
		<string>8471956</string>
	</array>
	<key>Crawford</key>
	<array>
		<string>Corey</string>
		<string>8470645</string>
	</array>
	<key>Darling</key>
	<array>
		<string>Scott</string>
		<string>8474152</string>
	</array>
	<key>Ehrhoff</key>
	<array>
		<string>ChristIan</string>
		<string>8469555</string>
	</array>
	<key>Fleischmann</key>
	<array>
		<string>Tomas</string>
		<string>8470039</string>
	</array>
	<key>Gustafsson</key>
	<array>
		<string>Erik</string>
		<string>8476979</string>
	</array>
	<key>Hjalmarsson</key>
	<array>
		<string>Niklas</string>
		<string>8471769</string>
	</array>
	<key>Hossa</key>
	<array>
		<string>Marian</string>
		<string>8466148</string>
	</array>
	<key>Kane</key>
	<array>
		<string>Patrick</string>
		<string>8474141</string>
	</array>
	<key>Keith</key>
	<array>
		<string>Duncan</string>
		<string>8470281</string>
	</array>
	<key>Kruger</key>
	<array>
		<string>Marcus</string>
		<string>8475323</string>
	</array>
	<key>Ladd</key>
	<array>
		<string>Andrew</string>
		<string>8471217</string>
	</array>
	<key>Mashinter</key>
	<array>
		<string>Brandon</string>
		<string>8474850</string>
	</array>
	<key>Panarin</key>
	<array>
		<string>Artemi</string>
		<string>8478550</string>
	</array>
	<key>Panik</key>
	<array>
		<string>Richard</string>
		<string>8475209</string>
	</array>
	<key>Rasmussen</key>
	<array>
		<string>Dennis</string>
		<string>8477929</string>
	</array>
	<key>Rozsival</key>
	<array>
		<string>Michal</string>
		<string>8465058</string>
	</array>
	<key>Seabrook</key>
	<array>
		<string>Brent</string>
		<string>8470607</string>
	</array>
	<key>Shaw</key>
	<array>
		<string>Andrew</string>
		<string>8476381</string>
	</array>
	<key>Teravainen</key>
	<array>
		<string>Teuvo</string>
		<string>8476882</string>
	</array>
	<key>Toews</key>
	<array>
		<string>Jonathon</string>
		<string>8473604</string>
	</array>
	<key>Van Riemsdyk</key>
	<array>
		<string>Trevor</string>
		<string>8477845</string>
	</array>
	<key>Weise</key>
	<array>
		<string>Dale</string>
		<string>8474668</string>
	</array>
</dict>
</plist>
