<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bairstow</key>
	<array>
		<string>Cameron</string>
		<string>203946</string>
	</array>
	<key>Brooks</key>
	<array>
		<string>Aaron</string>
		<string>201166</string>
	</array>
	<key>Butler</key>
	<array>
		<string>Jimmy</string>
		<string>202710</string>
	</array>
	<key>Dunleavy</key>
	<array>
		<string>Mike</string>
		<string>2399</string>
	</array>
	<key>Felicio</key>
	<array>
		<string>Cristiano</string>
		<string>1626245</string>
	</array>
	<key>Gasol</key>
	<array>
		<string>Pau</string>
		<string>2200</string>
	</array>
	<key>Gibson</key>
	<array>
		<string>Taj</string>
		<string>201959</string>
	</array>
	<key>Holiday</key>
	<array>
		<string>Justin</string>
		<string>203200</string>
	</array>
	<key>McDermott</key>
	<array>
		<string>Doug</string>
		<string>203926</string>
	</array>
	<key>Mirotic</key>
	<array>
		<string>Nikola</string>
		<string>202703</string>
	</array>
	<key>Moore</key>
	<array>
		<string>E&apos;Twaun</string>
		<string>202734</string>
	</array>
	<key>Noah</key>
	<array>
		<string>Joakim</string>
		<string>201149</string>
	</array>
	<key>Portis</key>
	<array>
		<string>Bobby</string>
		<string>1626171</string>
	</array>
	<key>Rose</key>
	<array>
		<string>Derrick</string>
		<string>201565</string>
	</array>
	<key>Snell</key>
	<array>
		<string>Tony</string>
		<string>203503</string>
	</array>
</dict>
</plist>
