<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brothers</key>
	<array>
		<string>Rex</string>
		<string>571521</string>
		<string>rex-brothers</string>
	</array>
	<key>Cahill</key>
	<array>
		<string>Trevor</string>
		<string>502239</string>
		<string>trevor-cahill</string>
	</array>
	<key>Edwards, Jr.</key>
	<array>
		<string>Carl</string>
		<string>605218</string>
		<string>carl-edwards-jr</string>
	</array>
	<key>Grimm</key>
	<array>
		<string>Justin</string>
		<string>518748</string>
		<string>justin-grimm</string>
	</array>
	<key>Hammel</key>
	<array>
		<string>Jason</string>
		<string>434628</string>
		<string>jason-hammel</string>
	</array>
	<key>Hendricks</key>
	<array>
		<string>Kyle</string>
		<string>543294</string>
		<string>kyle-hendricks</string>
	</array>
	<key>Johnson</key>
	<array>
		<string>Pierce</string>
		<string>572955</string>
		<string>pierce-johnson?year=2015&amp;stats=career-r-pitching-minors</string>
	</array>
	<key>Jokish</key>
	<array>
		<string>Eric</string>
		<string>518852</string>
		<string>eric-jokisch</string>
	</array>
	<key>Lackey</key>
	<array>
		<string>John</string>
		<string>407793</string>
		<string>john-lackey</string>
	</array>
	<key>Lester</key>
	<array>
		<string>Jon</string>
		<string>452657</string>
		<string>jon-lester</string>
	</array>
	<key>Patton</key>
	<array>
		<string>Spencer</string>
		<string>607359</string>
		<string>spencer-patton</string>
	</array>
	<key>Ramirez</key>
	<array>
		<string>Neil</string>
		<string>519166</string>
		<string>neil-ramirez</string>
	</array>
	<key>Richard</key>
	<array>
		<string>Clayton</string>
		<string>453385</string>
		<string>clayton-richard</string>
	</array>
	<key>Riefenhauser</key>
	<array>
		<string>CJ</string>
		<string>592677</string>
		<string>cj-riefenhauser</string>
	</array>
	<key>Rondon</key>
	<array>
		<string>Hector</string>
		<string>444468</string>
		<string>hector-rondon</string>
	</array>
	<key>Strop</key>
	<array>
		<string>Pedro</string>
		<string>467008</string>
		<string>pedro-strop</string>
	</array>
	<key>Warren</key>
	<array>
		<string>Adam</string>
		<string>476589</string>
		<string>adam-warren</string>
	</array>
	<key>Wood</key>
	<array>
		<string>Travis</string>
		<string>475243</string>
		<string>travis-wood</string>
	</array>
	<key>Acevedo</key>
	<array>
		<string>Andury</string>
		<string>524349</string>
		<string>andury-acevedo</string>
	</array>
	<key>Arrieta</key>
	<array>
		<string>Jake</string>
		<string>453562</string>
		<string>jake-arrieta</string>
	</array>
	<key>Beeler</key>
	<array>
		<string>Dallas</string>
		<string>542923</string>
		<string>dallas-beeler</string>
	</array>
	<key>Brooks</key>
	<array>
		<string>Aaron</string>
		<string>605156</string>
		<string>aaron-brooks</string>
	</array>
	<key>Contreras</key>
	<array>
		<string>Willson</string>
		<string>575929</string>
		<string>willson-contreras?year=2015&amp;stats=career-r-hitting-minors</string>
	</array>
	<key>Montero</key>
	<array>
		<string>Miguel</string>
		<string>471083</string>
		<string>miguel-montero</string>
	</array>
	<key>Ross</key>
	<array>
		<string>David</string>
		<string>424325</string>
		<string>david-ross</string>
	</array>
	<key>Schwarber</key>
	<array>
		<string>Kyle</string>
		<string>656941</string>
		<string>kyle-schwarber</string>
	</array>
	<key>Alcantara</key>
	<array>
		<string>Arismendy</string>
		<string>570489</string>
		<string>arismendy-alcantara</string>
	</array>
	<key>Baez</key>
	<array>
		<string>Javier</string>
		<string>595879</string>
		<string>javier-baez</string>
	</array>
	<key>Bryant</key>
	<array>
		<string>Kris</string>
		<string>592178</string>
		<string>kris-bryant</string>
	</array>
	<key>Candelario</key>
	<array>
		<string>Jeimer</string>
		<string>600869</string>
		<string>jeimer-candelario?year=2015&amp;stats=career-r-hitting-minors</string>
	</array>
	<key>La Stella</key>
	<array>
		<string>Tommy</string>
		<string>600303</string>
		<string>tommy-la-stella</string>
	</array>
	<key>Rizzo</key>
	<array>
		<string>Anthony</string>
		<string>519203</string>
		<string>anthony-rizzo</string>
	</array>
	<key>Russell</key>
	<array>
		<string>Addison</string>
		<string>608365</string>
		<string>addison-russell</string>
	</array>
	<key>Villanueva</key>
	<array>
		<string>Christian</string>
		<string>570799</string>
		<string>christian-villanueva?year=2015&amp;stats=career-r-hitting-minors</string>
	</array>
	<key>Vogelbach</key>
	<array>
		<string>Dan</string>
		<string>596129</string>
		<string>dan-vogelbach?year=2015&amp;stats=career-r-hitting-minors</string>
	</array>
	<key>Zobrist</key>
	<array>
		<string>Ben</string>
		<string>450314</string>
		<string>ben-zobrist</string>
	</array>
	<key>Fowler</key>
	<array>
		<string>Dexter</string>
		<string>451594</string>
		<string>dexter-fowler</string>
	</array>
	<key>Heyword</key>
	<array>
		<string>Jason</string>
		<string>518792</string>
		<string>jason-heyward</string>
	</array>
	<key>Soler</key>
	<array>
		<string>Jorge</string>
		<string>624585</string>
		<string>jorge-soler</string>
	</array>
	<key>Szczur</key>
	<array>
		<string>Matt</string>
		<string>519333</string>
		<string>matt-szczur</string>
	</array>
</dict>
</plist>
